<div class="form-item">
  @if (props.label) {
    <legend class="cds--label"
            i18n>{{ props.label }}</legend>
  }
  @if (props.description) {
    <p i18n>{{ props.description }}</p>
  }
  @if (showError && formControl.errors) {
    <div class="cds--form-requirement"
         role="alert">
      <formly-validation-message [field]="field"></formly-validation-message>
    </div>
  }
  <div [ngClass]="inputClass">
    @for (f of field.fieldGroup; track f.key) {
      <formly-field [field]="f"
                    class="formly-object-type__field"></formly-field>
    }
  </div>
</div>
