.formly-object-type {
  &__layout {
    display: flex;
    justify-content: center;
    align-content: stretch;
    gap: var(--cds-spacing-05);

    &--row {
      flex-direction: row;
    }

    &--column {
      flex-direction: column;
    }
  }

  &__field {
    flex-grow: 1;
  }
}
