<div class="form-item">
  <legend *ngIf="props.label"
          class="cds--label formly-array-type__header"
          i18n>{{ props.label }}</legend>
  <p *ngIf="props.description"
     i18n>{{ props.description }}</p>

  @for (field of field.fieldGroup; track $index; let i = $index) {
    <div class="formly-array-type__row">
      <formly-field class="formly-array-type__field"
                    [field]="field"></formly-field>
      <div class="formly-array-type__actions">
        <button cdsButton="ghost"
                size="sm"
                type="button"
                (click)="addWrapper()">
          <cd-icon type="add"></cd-icon>
        </button>
        @if (field.props.removable !== false) {
          <button cdsButton="ghost"
                  size="sm"
                  type="button"
                  (click)="remove(i)">
            <cd-icon type="trash"></cd-icon>
          </button>
        }
      </div>
    </div>
  }
  @if (field.fieldGroup.length === 0) {
    <div class="formly-array-type__empty">
      <button cdsButton="ghost"
              type="button"
              (click)="addWrapper()"
              i18n>
        <cd-icon type="add"></cd-icon>
        Add {{ props.label }}
      </button>
    </div>
  }

  <span class="invalid-feedback"
        role="alert"
        *ngIf="showError && formControl.errors">
    <formly-validation-message [field]="field"></formly-validation-message>
  </span>
</div>
