<div class="notifications-page">
  <header class="notifications-page__header border-subtle-bottom">
    <a
      cdsLink
      class="notifications-page__header-action"
      (click)="goBack()"
    >
      <cd-icon
        type="left"
        [useDefault]="true"
      ></cd-icon>
      <span i18n>Back</span>
    </a>
    <h4
      class="notifications-page__header-title cds--type-heading-03"
      i18n
    >
      Notifications
    </h4>
    <a
      cdsLink
      class="notifications-page__header-action"
      (click)="clearAll()"
      i18n
    >
      Clear all
    </a>
  </header>

  <div class="notifications-page__body">
    <div class="notifications-page__list border-subtle-right">
      @for (notification of notifications; track notification.id) {
        <div
          class="notifications-page__item border-subtle-bottom"
          [class.notifications-page__item--active]="selectedNotificationID === notification.id"
          [class.notifications-page__item--unread]="!readMap[notification.id]"
          (click)="onNotificationSelect(notification)"
        >
          <div class="notifications-page__item-indicator">
            @if (!readMap[notification.id]) {
              <span class="notifications-page__dot"></span>
            }
          </div>
          <div class="notifications-page__item-content">
            <h6 class="notifications-page__item-title cds--type-body-compact-01">{{ getTitle(notification) }}</h6>
            <p class="notifications-page__item-preview cds--type-label-01 cds-mt-1">{{ getPreviewText(notification) }}</p>
          </div>
          <div class="notifications-page__item-meta">
            <span class="notifications-page__item-time cds--type-label-01">{{ notification.timestamp | relativeDate: false }}</span>
            <cd-icon
              type="angleDoubleRight"
              [useDefault]="true"
              customClass="notifications-page__item-chevron"
            ></cd-icon>
          </div>
        </div>
      } @empty {
        <div class="notifications-page__empty">
          <cd-icon
            type="notification"
            [size]="iconSize.size20"
            [useDefault]="true"
          ></cd-icon>
          <p
            class="cds-mt-3"
            i18n
          >No notifications available</p>
        </div>
      }
    </div>

    <div class="notifications-page__detail">
      @if (selectedNotification) {
        <div class="notifications-page__detail-header">
          @if (!readMap[selectedNotification.id]) {
            <span class="notifications-page__dot"></span>
          }
          <h5 class="notifications-page__detail-title cds--type-heading-compact-02">{{ getTitle(selectedNotification) }}</h5>
          <span class="notifications-page__detail-time cds--type-label-01">{{ selectedNotification.timestamp | relativeDate: false }}</span>
          <button
            class="notifications-page__detail-delete"
            (click)="removeNotification(selectedNotification, $event)"
            i18n-title
            title="Delete notification"
          >
            <cd-icon
              type="destroy"
              [useDefault]="true"
            ></cd-icon>
          </button>
        </div>
        <div class="notifications-page__detail-body cds-mt-5">
          <p class="notifications-page__detail-text cds--type-body-01">{{ getPreviewText(selectedNotification) }}</p>
          @if (selectedNotification.prometheusAlert?.sourceUrl) {
            <a
              cdsLink
              class="notifications-page__detail-action cds-mt-5"
              [href]="selectedNotification.prometheusAlert.sourceUrl"
              target="_blank"
              rel="noopener noreferrer"
              i18n
            >
              View in Prometheus
            </a>
          }
        </div>
      } @else {
        <div class="notifications-page__empty">
          <cd-icon
            type="notification"
            [size]="iconSize.size20"
            [useDefault]="true"
          ></cd-icon>
          <p
            class="cds-mt-3"
            i18n
          >Select a notification to view details</p>
        </div>
      }
    </div>
  </div>
</div>
