@if (formUISchema$ | async; as formUISchema) {
  <form *ngIf="formUISchema.uiSchema"
        [formGroup]="form"
        (ngSubmit)="submit(model, formUISchema.taskInfo)">
    <div cdsGrid
         [useCssGrid]="true"
         [narrow]="true"
         [fullWidth]="true">
      <div cdsCol
           [columnNumbers]="{sm: 4, md: 8, lg: 8}">
        <div cdsRow
             class="form-heading">
          <h3 i18n="form title">{{ formUISchema.title }}</h3>
        </div>
        <formly-form [form]="form"
                     [fields]="formUISchema.controlSchema"
                     [model]="model"
                     [options]="{formState: formUISchema.uiSchema}"></formly-form>
        <div cdsRow>
          <cd-form-button-panel (submitActionEvent)="submit(model, formUISchema.taskInfo)"
                                [form]="formDir"
                                [submitText]="formUISchema.title"
                                [disabled]="!form.valid"
                                wrappingClass="text-right form-button"></cd-form-button-panel>
        </div>
      </div>
    </div>
  </form>
}
