<div class="about-modal-pf">
  <div class="modal-header">
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>
      <img src="branding/assets/RHCSD-Login-Logo.svg"
           class="ceph-logo"
           alt="{{ projectConstants.projectName }}">
    </h2>
    <br>
    <ul class="list-unstyled">
      <li class="row">
        <strong class="col-xs-6 col-sm-4">Version</strong>
        <span class="col-xs-4 col-sm-4">{{ projectConstants.version }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-4">Ceph Manager</strong>
        <span class="col-xs-4 col-sm-4">{{ hostAddr }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-4">User</strong>
        <span class="col-xs-4 col-sm-4">{{ modalVariables.user }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-4">User Role</strong>
        <span class="col-xs-4 col-sm-4">{{ modalVariables.role }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-4">Browser</strong>
        <span class="col-xs-4 col-sm-4">{{ modalVariables.browserName }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-4">Browser Version</strong>
        <span class="col-xs-4 col-sm-4">{{ modalVariables.browserVersion }}</span>
      </li>
      <li class="row">
        <strong class="col-xs-6 col-sm-4">Browser OS</strong>
        <span class="col-xs-4 col-sm-4">{{ modalVariables.browserOS }}</span>
      </li>
    </ul>
    <div class="trademark-pf">
      <div class="text-left">
        {{ copyright }}
        <br>
        {{ projectConstants.license }}
        <br>
        {{ projectConstants.licenseNumber }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <img class="redhat_logo" src="branding/assets/Logo_RH_RGB_Reverse.png" alt="{{ projectConstants.organization }}">
    <img src="branding/assets/RHCSD-About-Corner.png" alt="{{ projectConstants.organization }}">
  </div>
</div>
