<ng-template #activeAlertsHeading>
  <span i18n>Active Alerts</span>
  <cds-tag *ngIf="prometheusAlertService.activeCriticalAlerts > 0"
      class="tag-danger ms-1">{{ prometheusAlertService.activeCriticalAlerts }}</cds-tag>
  <cds-tag *ngIf="prometheusAlertService.activeWarningAlerts > 0"
      class="tag-warning ms-1">{{ prometheusAlertService.activeWarningAlerts }}</cds-tag>
</ng-template>
<cds-tabs
  type="contained"
  followFocus="true"
  isNavigation="true"
  [cacheActive]="false">
  <cds-tab
    [heading]="activeAlertsHeading"
    title="Active Alerts"
    i18n-title
    [active]="activeTab === Tabs.activeAlerts"
    (selected)="onSelected(Tabs.activeAlerts)">
  </cds-tab>
  <cds-tab
    heading="Silences"
    i18n-heading
    [active]="activeTab === Tabs.silences"
    (selected)="onSelected(Tabs.silences)">
  </cds-tab>
  <cds-tab
    heading="Alert Rules"
    i18n-heading
    [active]="activeTab === Tabs.alerts"
    (selected)="onSelected(Tabs.alerts)">
  </cds-tab>
</cds-tabs>
