table.ceph-chartbox {
  width: 100%;

  td {
    text-align: center;
    font-weight: bold;
  }
}

.center-block {
  width: 120px;
}

.pie {
  height: 120px;
  width: 120px;
}

hr.underline {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 0px;
  margin-bottom: 18px;
  padding: 0px;
}
