<cds-modal size="md"
           [open]="open"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>
      Attach commandsssssss
    </h3>
  </cds-modal-header>
  <div class="cds--modal-content">

    <cds-select class ="select">
      <option *ngFor="let user of allUsers"
                      [value]="user.entity"
                      >{{ user.entity }}</option>
      </cds-select> 
      <cd-download-button [textItem]="download"
      fileName="ceph-users"
      fileExtension="keyring">
</cd-download-button>
      
    <h5 class="fw-bold"
        i18n>
      Using Mount command
    </h5>
    <cd-code-block textWrap="true"
                   [codes]="[mount]"></cd-code-block>

    <h5 class="fw-bold"
        i18n>
      Using FUSE command
    </h5>
    <cd-code-block textWrap="true"
                   [codes]="[fuse]"></cd-code-block>

    <h5 class="fw-bold"
        i18n>
        Using NFS Command
    </h5>
    <cd-code-block textWrap="true"
                   [codes]="[nfs]"></cd-code-block>
  </div>
  <cd-form-button-panel [modalForm]="true"
                        [showSubmit]="false"
                        (backAction)="cancel()"
                        i18n></cd-form-button-panel>
</cds-modal>
