<nav class="navbar navbar-default navbar-pf" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->

  <div class="navbar-header tc_logo_component">
    <a class="navbar-brand"
       href="#">
      <img src="/assets/branding/RHCSD-Masthead-Logo.svg" width=100%  alt="Red Hat Ceph Storage">
    </a>

    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
      <span i18n
            class="sr-only">Toggle navigation
      </span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse"
       id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-primary">

      <!-- Dashboard -->
      <li routerLinkActive="active"
          class="tc_menuitem tc_menuitem_dashboard">
        <a i18n
           routerLink="/dashboard">
          <i class="fa fa-heartbeat fa-fw"
             [ngStyle]="summaryData?.health_status | healthColor"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <!-- Cluster -->
      <li dropdown
          routerLinkActive="active"
          class="dropdown tc_menuitem tc_menuitem_cluster">
        <a dropdownToggle
           class="dropdown-toggle"
           >
          <ng-container i18n>Cluster</ng-container>
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu
            class="dropdown-menu">
          <li routerLinkActive="active"
              class="tc_submenuitem tc_submenuitem_hosts">
            <a i18n
               class="dropdown-item"
               routerLink="/hosts">Hosts
            </a>
          </li>
          <li routerLinkActive="active"
              class="tc_submenuitem tc_submenuitem_cluster_monitor">
            <a i18n
               class="dropdown-item"
               routerLink="/monitor/"> Monitors
            </a>
          </li>
          <li routerLinkActive="active"
              class="tc_submenuitem tc_submenuitem_hosts">
            <a i18n
               class="dropdown-item"
               routerLink="/osd">OSDs
            </a>
          </li>
          <li routerLinkActive="active"
              class="tc_submenuitem tc_submenuitem_configuration">
            <a i18n
               class="dropdown-item"
               routerLink="/configuration">Configuration Doc.
            </a>
          </li>
        </ul>
      </li>

      <!-- Block -->
      <li dropdown
          routerLinkActive="active"
          class="dropdown tc_menuitem tc_menuitem_block">
        <a dropdownToggle
           class="dropdown-toggle"
           [ngStyle]="blockHealthColor()">
          <ng-container i18n>Block</ng-container>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li routerLinkActive="active"
              class="tc_submenuitem tc_submenuitem_block_mirroring">
            <a i18n
               class="dropdown-item"
               routerLink="/mirroring/"> Mirroring
              <small *ngIf="summaryData?.rbd_mirroring?.warnings !== 0"
                     class="label label-warning">{{ summaryData?.rbd_mirroring?.warnings }}</small>
              <small *ngIf="summaryData?.rbd_mirroring?.errors !== 0"
                     class="label label-danger">{{ summaryData?.rbd_mirroring?.errors }}</small>
            </a>
          </li>

          <li routerLinkActive="active">
            <a i18n
               class="dropdown-item"
               routerLink="/block/iscsi">iSCSI</a>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-toggle"
               data-toggle="dropdown">Pools</a>
            <ul *dropdownMenu
                class="dropdown-menu">
              <li routerLinkActive="active"
                  class="tc_submenuitem tc_submenuitem_pools"
                  *ngFor="let rbdPool of rbdPools">
                <a i18n
                   class="dropdown-item"
                   routerLink="/block/pool/{{ rbdPool }}">{{ rbdPool }}
                </a>
              </li>
              <li class="tc_submenuitem tc_submenuitem_cephfs_nofs"
                  *ngIf="rbdPools.length === 0">
                <a class="dropdown-item disabled"
                   i18n>There are no pools</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- Filesystem -->
      <li dropdown
          routerLinkActive="active"
          class="dropdown tc_menuitem tc_menuitem_cephs">
        <a dropdownToggle
           class="dropdown-toggle">
          <ng-container i18n>Filesystems</ng-container>
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu
            class="dropdown-menu">
          <li routerLinkActive="active"
              class="tc_submenuitem tc_submenuitem_cephfs_fs"
              *ngFor="let fs of summaryData?.filesystems">
            <a i18n
               class="dropdown-item"
               routerLink="/cephfs/{{fs.id}}">{{ fs.name }}
            </a>
          </li>
          <li class="tc_submenuitem tc_submenuitem_cephfs_nofs"
              *ngIf="summaryData.filesystems.length === 0">
            <span i18n>There are no filesystems</span>
          </li>
        </ul>
      </li>

      <!-- Object Gateway -->
      <li routerLinkActive="active"
          class="tc_menuitem tc_menuitem_rgw">
        <a i18n
           routerLink="/rgw">Object Gateway
        </a>
      </li>
    </ul>
    <!-- /.navbar-primary-->

    <ul class="nav navbar-nav navbar-utility">
      <li dropdown
          routerLinkActive="active"
          class="dropdown">
        <button class="btn btn-link nav-item-iconic" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span title="Help" class="fa pficon-help dropdown-title"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="http://docs.ceph.com/docs/master/" target="_blank">Help</a></li>
          <li><a href="#0" data-toggle="modal" data-target="#about-modal">About</a></li>
        </ul>
      </li>
      <li dropdown
          routerLinkActive="active"
          class="dropdown">
        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
          <span class="pficon pficon-user"></span>
          <span class="dropdown-title">
            {{user}}
            <span class="caret"></span>
          </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <cd-logout class="oa-navbar"></cd-logout>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.navbar-utility -->
  </div>
  <!-- /.navbar-collapse -->
</nav>


<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content about-modal-pf">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Red Hat Ceph Storage Dashboard</h1>
        <div class="product-versions-pf">
          <ul class="list-unstyled">
            <li><strong>Version</strong> 3.2</li>
            <li><strong>Ceph Manager</strong> {{ hostName }}</li>
            <li><strong>User</strong> {{user}}</li>
            <li><strong>User Role</strong> admin</li>
            <li><strong>Browser</strong> {{browserName}}</li>
            <li><strong>Browser Version</strong> {{browserVersion}}</li>
            <li><strong>Browser OS</strong> {{browserOS}}</li>
          </ul>
        </div>
        <div class="trademark-pf">
          Copyright(c) 2018 Red Hat Inc. and contributors. Licensed under Creative Commons Attribution Share Alike 3.0 (CC-BY-SA-3.0)
        </div>
      </div>
      <div class="modal-footer">
        <img src="/assets/branding/Logo_RH_RGB_Reverse.png" class="redhat_logo" alt= "Redhat">
        <img src="/assets/branding/RHCSD-About-Corner.png" alt=" Symbol">
      </div>
    </div>
  </div>
</div>
