.branding-border {
  width: calc(100% + 60px);
  margin-left: -30px;
  height: 3px;
  background-color: #c00;
}


.login-logo > img{
  display: block;
  width: 125px;
  margin: 30px auto;
}

.login-pf-page-footer{
  width:30%;
  position:fixed;
  bottom:10px;
  text-align:center;
  z-index:9999;
}
