<div class="form-item"
     [class.has-error]="showError">
  @if (props.label && props.hideLabel !== true) {
    <label [attr.for]="id"
           class="cds--label">
      {{ props.label }}
      @if (props.required && props.hideRequiredMarker !== true) {
        <span aria-hidden="true">*</span>
      }
      @if (helper) {
        <cd-helper>
          <span [innerHTML]="helper"></span>
        </cd-helper>
      }
    </label>
  }

  <ng-container #fieldComponent></ng-container>

  @if (showError) {
    <div class="invalid-feedback">
      <formly-validation-message [field]="field"></formly-validation-message>
    </div>
  }

  @if (props.description) {
    <span class="cds--form__helper-text">{{ props.description }}</span>
  }
</div>
