.cd-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;

  &__wrapper {
    text-align: center;
  }

  &__content {
    margin-top: var(--cds-spacing-07);
  }

  &__message {
    margin-top: var(--cds-spacing-05);
    color: var(--cds-text-secondary);
  }

  &__actions {
    margin-top: var(--cds-spacing-07);
  }
}
