<head>
  <title i18n>Error Page</title>
  <base target="_blank">
</head>
<div class="cd-error">
  <div class="cd-error__wrapper">
    @if (header && message) {
      <svg [cdsIcon]="icon"
           class="cd-error__icon cds-info-color cds-icon--size-10"></svg>
      <div class="cd-error__content">
        <h3><b>{{ header }}</b></h3>
        @if (header !== message) {
          <h4 class="cd-error__message">{{ message }}</h4>
        }
        @if (section) {
          <h4 i18n>Please consult the&nbsp;<a href="{{ docUrl }}">documentation</a>&nbsp;on how to configure and enable
               the {{ sectionInfo }} management functionality.
          </h4>
        }
      </div>
    } @else {
      <cd-icon type="warningAltFilled"
               size="32"></cd-icon>
      <div class="cd-error__content">
        <h3 i18n><b>Page not Found</b></h3>
        <h4 class="cd-error__message"
            i18n>Sorry, we couldn't find what you were looking for.
                 The page you requested may have been changed or moved.</h4>
      </div>
    }

    <div class="cd-error__actions">
      @if ((buttonName && buttonRoute) || uiConfig) {
        @if (uiConfig) {
          <button cdsButton="primary"
                  (click)="doConfigure()"
                  [attr.title]="buttonTitle"
                  i18n>{{ buttonName }}</button>
        } @else {
          <button cdsButton="primary"
                  [routerLink]="buttonRoute"
                  i18n>{{ buttonName }}</button>
        }
        @if (secondaryButtonName && secondaryButtonRoute) {
          <button cdsButton="secondary"
                  [routerLink]="secondaryButtonRoute"
                  i18n>{{ secondaryButtonName }}</button>
        }
      } @else if (module_name && !(buttonName && buttonRoute)) {
        <button cdsButton="primary"
                (click)="enableModule()"
                i18n>Enable {{ module_name | upperFirst }} module</button>
      } @else {
        <button cdsButton="primary"
                [routerLink]="'/overview'"
                i18n>Go To Overview</button>
      }
    </div>
  </div>
</div>
