<cds-tabs
  type="contained"
  followFocus="true"
  isNavigation="true"
  [cacheActive]="false">
  <cds-tab
    heading="Images"
    i18n-heading
    [active]="activeTab === Tabs.images"
    (selected)="onSelected(Tabs.images)">
  </cds-tab>
  <cds-tab
    heading="Namespaces"
    i18n-heading
    [active]="activeTab === Tabs.namespaces"
    (selected)="onSelected(Tabs.namespaces)">
  </cds-tab>
  <cds-tab
    heading="Trash"
    i18n-heading
    [active]="activeTab === Tabs.trash"
    (selected)="onSelected(Tabs.trash)">
  </cds-tab>
  <cds-tab
    *ngIf="grafanaPermission.read"
    heading="Overall Performance"
    i18n-heading
    [active]="activeTab === Tabs.performance"
    (selected)="onSelected(Tabs.performance)">
  </cds-tab>
</cds-tabs>
