name: CI Build and Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v4.2.2

        - name: Install dependencies
          run: ./install-deps.sh

        - name: Install dependencies
          run: ./install-deps.sh

        - name: Configure
          run: ./do_cmake.sh $CMAKE_ARGS

        - name: Build
          run: cd build && ninja -j$(nproc)
